.name
blueframework-3.0.iml
encodings.xml
magicento.xml
misc.xml
modules.xml
scope_settings.xml
vcs.xml
.idea
cache/*
!cache/.gitkeep
files/*
!files/.gitkeep
images/avatars/upload/*
!images/avatars/upload/.gitkeep
