@media only screen and ( max-width: 880px )
{
    #wrapcentre
    {
        padding-bottom: 350px;
    }
}
@media only screen and ( max-width: 600px )
{
    #wrapcentre
    {
        padding-bottom: 380px;
    }
}
@media only screen and ( max-width: 575px )
{
    #wrapcentre
    {
        padding-bottom: 400px;
    }
}
@media only screen and ( max-width: 540px )
{
    #wrapcentre
    {
        padding-bottom: 420px;
    }
    .forabg{
        display: block;
    }
}
@media only screen and ( max-width: 500px )
{
    #wrapcentre
    {
        padding-bottom: 35px;
    }
    .forabg, .footer_block .gensmall, .footer_block .left_block, 
    .footer_block .full_block
    {
        display: none;
    }
    .mChatPanel input{
        font-size:18px;
        margin-bottom: 15px;
        padding:5px;
    }
    #show_chat_block, #toolbar_block ul{
        display: block;
    }
    .mChatPanel input.mChatText{
        width:90%!important;
    }
}
@media only screen and ( max-width: 480px )
{
    body{
        background: #000 none;
    }
    #wrapcentre
    {
        padding-bottom: 210px;
    }
    .footer_block .gensmall, .footer_block .left_block, .moderator_box,
    .footer_block .full_block, #motto, .header .gen, #user_bar, #show_user_bar,
    .header_logo, .main_table tbody tr td[width="50"] img, .login_block input.radio,
    .main_table tbody tr td[width="100%"] p, .forumdesc, .search_box, .viewtpic_box,
    .main_table tbody tr[align="center"], #pagecontent .profile td img,
    #pagecontent .profile .postdetails, #pagecontent .tablebg .gensmall div:nth-child(2),
    #pagecontent table.tablebg:nth-child(1), #pagecontent table.tablebg:nth-child(5),
    /*#pagecontent table.tablebg:nth-child(3),*/
    .header_logo, .main_table tbody tr td[width="25"] img, #pagecontent .postbody img,
    #pagecontent .tablebg tbody tr td table[width="150"], input[value="Pełny edytor"],
    .tablebg.main_table tbody tr th:nth-child(2),
    .tablebg.main_table tbody tr th:nth-child(4),
    .tablebg.main_table tbody tr td:nth-child(3),
    .tablebg.main_table tbody tr td:nth-child(5),
    .tablebg.main_table tbody tr:nth-child(1),
    .tablebg tbody table tbody table tbody tr td.gensmall,
    .tablebg tbody tr td div.gensmall, #pagecontent .main_table tbody tr td p.gensmall,
    .smiles_box
    {
        display: none!important;
    }
    .forabg{
        display: none;
    }
    .mChatPanel input{
        font-size:18px;
        margin-bottom: 15px;
        padding:5px;
    }
    .mChatPanel input.mChatText{
        width:100%
    }
    .main_table tbody tr td[width="25"], .main_table tbody tr td[width="50"]{
        width: 0!important;
        padding: 0!important;
    }
    #pagecontent .tablebg tbody tr th:nth-child(1),
    #pagecontent .tablebg tbody tr td:nth-child(1)
    {
        width: 50px;
    }
    #wrapheader{
        height: 30px!important;
        margin-left: 0;
    }
    #logodesc .header{
        display:none;
    }
    .header h1{
        font-size: 20px;
    }
    .main_table{
        padding: 0;
        border: none;
    }
    #toolbar_block{
        height: auto;
        background-color: #333;
        width: 100%;
    }
    #toolbar_block ul{
        display: none;
        position: relative;
        width: auto;
    }
    #toolbar_block ul li{
        display: inline-block;
        width: 70px;
        height: 70px;
    }
    #toolbar_block ul li a{
        font-size: 30px;
        line-height: 30px;
    }
    #toolbar_block ul li a i{
        line-height: 65px;
    }
    #toolbar_block .responsive, #show_chat_block{
        display: block;
    }
    .footer_block{
        margin:0;
    }
    #wrapcentre{
        margin: 0;
    }
    .login_block{
        display: block;
    }
    .login_block input, #pageheader a{
        font-size: 18px;
    }
    input.btnlite, input.btnmain{
        font-size: 20px;
    }
    .tablebg.main_table.post_table tbody tr
    {
        display: table-row!important;
    }
    .tablebg.main_table.post_table tbody tr th,
    .tablebg.main_table.post_table tbody tr td
    {
        display: table-cell!important;
    }
    .post{
        width: 100%;
        font-size: 18px;
    }
    td textarea{
        width: 100%;
        font-size: 16px;
        height: 100px;
    }
    .pagination_box .nav{
        font-size: 12px;
    }
    .pagination_box .pagination{
        padding: 0;
        margin: 0;
    }
    .pagination_box tr td{
        display: block;
    }
    .pagination_box .pagination b{
        display: block;
    }
    .pagination_box .pagination a, .pagination_box .pagination strong{
        display: block;
        margin: 5px 2px;
        font-size: 16px!important;
    }
}